// -----------------------------------------------------------------------------
// ------------------------------------------------------------------------- ALL
// -----------------------------------------------------------------------------


//------------------------------------------------------------------------- font
@font-face {
  font-family: "ParatypePTSans";
  src: url("../fonts/ParatypePTSans.ttf");
  font-weight: normal;
  font-style: normal;
}

$theme-font: "ParatypePTSans";
$theme-font-size: 1em;


//----------------------------------------------------------------------- colors
//darker
$theme-fore-color-default:     #303030;
$theme-back-color-default:     gray;
//lighter
$theme-fore-color-default-alt: white;
$theme-back-color-default-alt: #f7f7f7;

$theme-fore-color-danger:      #c0392b;
$theme-back-color-danger:      #e87352;

$theme-fore-color-ok:          #557920;
$theme-back-color-ok:          #8dca35;

$theme-fore-color-warn:        #f27935;
$theme-back-color-warn:        #ffab00;

// $theme-fore-color-neutral:
$theme-back-color-neutral:     #50c0e8;


// ------------------------------------------------------------------------ page
$theme-page-min:     800px;
$theme-page-max:     1200px;

$theme-background:  #fff;
$theme-line-height: 1.4em;
$theme-space:       20px;
$theme-radius:      3px;




// -----------------------------------------------------------------------------
// --------------------------------------------------------------------- MODULES
// -----------------------------------------------------------------------------


// ----------------------------------------------------------------------- _base
$theme-content-title: lighten($theme-fore-color-default, 30%);


// ----------------------------------------------------------------------- _text
$text-small-2x: .9em;
$text-small-3x: .8em;
$text-small-4x: .7em;
$text-big-2x:   1.2em;
$text-big-3x:   1.4em;
$text-description-color: gray;


// ---------------------------------------------------------------------- _icons
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
$icon-font:      "icomoon";
$icon-font-size: 1em;
$icon-small-2x:  .8em;
$icon-2x:        1.2em;
$icon-3x:        1.4em;
$icon-4x:        1.8em;
$icon-5x:        2.4em;
$icon-6x:        2.8em;