//------------------------------------------------------------------------- font
@font-face {
  font-family: "ParatypePTSans";
  src: url("../fonts/ParatypePTSans.ttf");
  font-weight: normal;
  font-style: normal;
}
$theme-font: "ParatypePTSans";
$theme-font-size: 1em;



//----------------------------------------------------------------------- colors
$theme-color-fore-default:     #303030;
$theme-color-fore-default-alt: white;
$theme-color-back-default:     gray;
$theme-color-back-default-alt: #f7f7f7;

$theme-color-fore-neutral:     #50c0e8;
$theme-color-back-neutral:     #50c0e8;

$theme-color-fore-ok:          #557920;
$theme-color-back-ok:          #8dca35;

$theme-color-fore-warn:        #f27935;
$theme-color-back-warn:        #ffab00;

$theme-color-fore-danger:      #c0392b;
$theme-color-back-danger:      #e87352;




// ------------------------------------------------------------------------ page
$theme-page-min:     800px;
$theme-page-max:     1200px;

$theme-background:  #fff;
$theme-line-height: 1.4em;
$theme-space:       20px;
$theme-radius:      3px;




// -----------------------------------------------------------------------------
// --------------------------------------------------------------------- MODULES
// -----------------------------------------------------------------------------
// ----------------------------------------------------------------------- _text
$theme-text-small-2x:        .9em;
$theme-text-small-3x:        .8em;
$theme-text-small-4x:        .7em;
$theme-text-large-2x:        1.2em;
$theme-text-large-3x:        1.4em;
$theme-text-color-important: $theme-color-fore-danger;


// ---------------------------------------------------------------------- _icons
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
$theme-icon-font:      "icomoon";
$theme-icon-font-size: 1em;
$theme-icon-small-2x:  .8em;
$theme-icon-large-2x:  1.2em;
$theme-icon-large-3x:  1.4em;
$theme-icon-large-4x:  1.8em;
$theme-icon-large-5x:  2.4em;
$theme-icon-large-6x:  2.8em;

$theme-icon-color-neutral: $theme-color-fore-neutral;
$theme-icon-color-ok:      $theme-color-fore-ok;
$theme-icon-color-warn:    $theme-color-fore-warn;
$theme-icon-color-danger:  $theme-color-fore-danger;
