.layout-left{float:left;}
.layout-right{float:right;}
.layout-clear{clear:both;}
.layout-relative{position:relative;}

.layout-col{
    float:left;
    padding-right:$space;
}
.layout-col-last{padding-right:0;}
.layout-col-25{width: 25%;}
.layout-col-33{width: 33.3%;}
.layout-col-50{width: 50%;}
.layout-col-75{width: 75%;}
.layout-col-100{width: 100%;}
